<div class="coach-container">
  <div class="coach-registration">
    <h2>Resend unlock instructions</h2>

    <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>

    <div class="field">
      <%= f.email_field :email, autofocus: true, placeholder: 'Email' %>
    </div>

    <div class="actions">
      <%= f.submit "Resend unlock instructions", class: 'btn home-btn' %>
    </div>
    <% end %>

    <%= render "athletes/shared/links" %>
  </div>
</div>
