<% if current_athlete && current_athlete == @athlete %>
  <div class="client" >
    <%= form_for [@athlete, @workout], method: "patch", remote: true do |f| %>
    <%= f.text_area :results %>
    <%= f.text_area :athlete_notes %>
    <%= f.submit 'Submit Results' %>
    <% end %>
  </div>
<% end %>
