<div class="container">
  <div class="clients">
    <p><%= @workout.workout %><p>
    <% if @tomorrow %>
      <p><%= link_to "Tomorrow", athlete_workout_path(@athlete, @tomorrow) %></p>
    <% end %>
    <% if @yesterday %>
    <p><%= link_to "Yesterday", athlete_workout_path(@athlete, @yesterday) %></p>
    <% end %>
  </div>

  <!--add results section for athletes-->
  <!--add edit for coaches-->
  <!--restrict access!!!-->
</div>
