<div class="container">
  <div class="clients">
    <h2><%= link_to "#{@athlete.first_name} #{@athlete.last_name}", coach_athlete_path(@athlete.coach, @athlete) %></h2>
    <!-- style this -->
    <div id="workout-info">
      <%= render 'workout_info' %>
    </div>
  </div>
  <div id="results-edit-form"></div>


  <!--add results section for athletes-->
  <!--add edit for coaches-->
  <!--restrict access!!!-->
</div>
