<div class="coach-container">
  <div class="coach-registration coach-box">
    <div id="workout-info">
      <%= render 'workout_info' %>
    </div>
    <h5><%= link_to "Return to Profile", coach_athlete_path(athlete.coach, athlete) %></h5>
  </div>
  <div id="results-edit-form"></div>
</div>
