<div class="field">
  <h2>Invite</h2>
  <%= form_tag invite_path(coach) do %>
  <%= label_tag :email %>
  <%= email_field_tag :email %>
  <%= submit_tag 'Send Invite', class: 'btn home-btn' %>
  <% end %>
</div>
