<div class="coach-container">
  <div class="coach-registration">
    <div class="today-workout">
      <%= render 'workouts/today_workout' %>
    </div>
  </div>
  <div class="coach-registration">
    <div class="all-workouts">
      <%= render 'workouts/all_workouts' %>
    </div>
  </div>
  <!-- show and hide this on click -->
  <div id="workout-form">
    <%= render 'workouts/workout_form' %>
  </div>

</div>
