<div class="container">
  <div class="home-intro">
    <h1>BeTrained</h1>
    <h3 class="home-description">Description goes here. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h3>
    <button class="btn home-btn">Register as a Coach</button>
    <button class="btn home-btn">Learn More</button>
  </div>
</div>
