<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your coach, <%= @coach.email %> has invited you to BeTrained!</h1>
    <h3>Description goes here</h3>
    <p>
      To connect with your coach, register for an account <%= link_to 'here', @url %>
    </p>
    <p>
      Your coach's ID is: <%= @coach.id %>
    </p>
  </body>
</html>
