Your coach, <%= @coach.email %> has invited you to BeTrained!
===============================================

<h3>Description goes here</h3>
<p>
  To connect with your coach, register for an account <%= link_to 'here', @url %>
</p>
