<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your coach, <%= @coach.first_name %> <%= @coach.last_name %> has invited you to BeTrained!</h1>
    <h3>BeTrained is an all in one coach-to-client workout logging application.</h3>
    <p>
      To connect with your coach, register for an account <%= link_to 'here.', @url %>
    </p>

    <p>Happy training!</p>
  </body>
</html>
