<div class="coach-container">
  <div class="coach-registration">
    <h2>Resend confirmation instructions</h2>

    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>

    <div class="field">
      <%= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), placeholder: 'Email' %>
    </div>

    <div class="actions">
      <%= f.submit "Resend confirmation instructions", class: 'btn home-btn' %>
    </div>
    <% end %>

    <%= render "athletes/shared/links" %>
  </div>
</div>
