<div class="coach-container">
  <div class="coach-registration coach-box">
    <h2>For Coaches</h2>
    <!-- image -->
    <h5>Invite athletes via email and see all of your clients in one place.</h5>
    <h5>Post workouts for clients, including hyperlinks to exercise demos</h5>
    <h5>See athlete results and provide feedback seemlessly.</h5>
    <%= button_to "Register as a Coach", new_coach_registration_path, :class => "btn home-btn", :method => :get %>
  </div>
  <div class="coach-registration coach-box">
    <h2>For Athletes</h2>
    <!-- image -->
    <h5>See all of your training sessions.</h5>
    <h5>Mobile friendly, so you can upload results while at the gym</h5>
    <h5>Powerful search feature so you can quickly find personal records, and then beat them!</h5>
    <h3>By invite only!</h3>
  </div>
</div>
