.coach-registration {
  text-align: center;
  color: #b7b7b7;
  background-color: rgba(0, 0, 0, 0.5);
  padding-bottom: 15px;
  padding-top: 10px;
  position: relative;
  margin-left: 25%;
  margin-right: 25%;
  .field {
    margin-left: 10%;
    margin-right: 10%;
  }
}

#clients {
  color: #b7b7b7;
  background-color: rgba(0, 0, 0, 0.5);
}

.header {
  color: #b7b7b7;
  background-color: rgba(0, 0, 0, 0.5);
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li {
    display: inline;
  }
}

.header {
	width: 100%;
	float: left;
	margin: 0 0 3em 0;
	padding: 0;
	list-style: none;
  color: #b7b7b7;
	background-color: rgba(0, 0, 0, 0.5);
}
#nav li {
	float: left;
}
#nav li a {
	display: block;
	padding: 8px 15px;
	text-decoration: none;
	font-weight: bold;
}
#nav li a:hover {
	color: #c00;
	background-color: #fff;
}
