.coach-registration {
  color: #b7b7b7;
  background-color: rgba(0, 0, 0, 0.5);
  padding-bottom: 15px;
  padding-top: 10px;
  position: relative;
  margin-left: 25%;
  margin-right: 25%;
  .field {
    margin-left: 10%;
    margin-right: 10%;
  }
}
