.coach-registration {
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  color: #b7b7b7;
  height: auto;
  width: 50vw;
  padding-bottom: 20px;
  .field {
    margin-left: 10%;
    margin-right: 10%;
  }
}

.clients {
  color: #b7b7b7;
  background-color: rgba(0, 0, 0, 0.5);
  h2 {
    text-align: center;
  }
}
