.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.home-intro {
  background-color: red;
  text-align: center;
  height: auto;
  width: 75vw;
}

.home-btn {
  margin: 5px;
}

.home-description {
  padding: 10px;
}

.home-buttons-small {
  display: none;
}

.home-intro {
  color: #b7b7b7;
  background-color: rgba(0, 0, 0, 0.5);
  padding-bottom: 15px;
  padding-top: 10px;
  text-align: center;
  h1 {
    margin: 0px;
    border-bottom: #870000 5px solid;
    margin-left: 10%;
    margin-right: 10%;
  }
}

html {
  background: image-url('weights.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media screen and (max-width: 1200px) {
  .home-buttons-large {
    display: none;
  }
  .home-buttons-small {
    display: block;
  }
  .home-intro {
    position: absolute;
    top: 10px;
    width: 90vw;
  }
  .home-container {
    left: 20px;
  }
  .coach-container {
    left: 20px;
  }
}
