html, body {
 width: 100%;
 height: 100%;
}
html {
 display: table;
}
body {
 display: table-cell;
 vertical-align: middle;
 text-align: center;
}

.home-btn {
  margin: 5px;
}

.home-description {
  padding: 10px;
}

.home-intro {
  // padding: 20px;
  color: #b7b7b7;
  background-color: rgba(0, 0, 0, 0.5);
  padding-bottom: 15px;
  padding-top: 10px;
  position: relative;
  h1 {
    margin: 0px;
    border-bottom: #870000 5px solid;
    margin-left: 10%;
    margin-right: 10%;
  }
}



html {
  background: url('weights.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
